<!-- templates/chat/chat.html -->
{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<!-- Add this near the top of your content block -->
<input type="hidden" id="current-user-id" value="{{ current_user.id }}">
<div class="chat-container">
    <div class="row">
        <!-- Conversation list -->
        <div class="col-md-4 conversation-list">
            <div class="header">
                <h4>Messages</h4>
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newMessageModal">
                    New Message
                </button>
            </div>
            <div class="search-box">
                <input type="text" class="form-control" placeholder="Search conversations...">
            </div>
            <div class="conversations">
                <!-- Will be populated by JavaScript -->
            </div>
        </div>
        
        <!-- Chat area -->
        <div class="col-md-8 chat-area">
            <div class="chat-header">
                <h4 id="chat-with">Select a conversation</h4>
            </div>
            <div class="messages-container">
                <div class="messages" id="messages">
                    <!-- Messages will appear here -->
                </div>
            </div>
            <div class="message-input">
                <form id="message-form">
                    <input type="hidden" id="recipient-id">
                    <div class="input-group">
                        <input type="text" class="form-control" id="message-content" placeholder="Type your message...">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- New Message Modal -->
<div class="modal fade" id="newMessageModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <select class="form-select" id="recipient-select">
                    {% if current_user.is_teacher %}
                        <option value="">Select a student</option>
                        {% for student in students %}
                            <option value="{{ student.user.id }}">{{ student.name }} ({{ student.section }})</option>
                        {% endfor %}
                    {% else %}
                        <option value="">Select a teacher</option>
                        {% for teacher in teachers %}
                            <option value="{{ teacher.user.id }}">{{ teacher.name }} ({{ teacher.subject }})</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="start-chat">Start Chat</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}